*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: Consolas, monospace;
}

/* General page styles */

body {
  margin: 0;
  text-align: center;
}

button {
  cursor: pointer;
}

/* Header and footer styles */

header {}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 5vh;
  background: pink;
}

body {
  margin-bottom: 5vh;
}

footer > * {
  display: inline-block;
  margin: auto;
}

/* Main section styles */

main {
  border: 1px solid black;
  padding: 1em;
  position: relative;
}

#plays {
  display: flex;
  justify-content: center;
  margin: 3em;
  gap: 1em;
}

#endgame {
  border: 2px solid black;
  padding: 2em;
  /* z-index: 1; */
  display: block !important;
}

#endgame strong {
  font-size: 3rem;
}

/* Scoreboard styles */
